:host {
  --margin-el: 1.2rem;
  --gap--navbar: 2.7rem;
}

.navbar {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.25);
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px; 
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.14) 11%,
    rgba(255, 255, 255, 0.00) 50%,
    rgba(255, 255, 255, 0.15) 100%
  );
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 2;
}
.navbar {
  width: 95%;
  z-index: 1030;
  left: 50%;
  transform: translateX(-50%)
}

.icon {
  width: 60px;
  height: 48px;
  fill: #D3D9D9;;
  margin-left: var(--margin-el);
}

.nav-link {
  color: var(--tc);
  font-weight: 300;
  font-size: var(--ts-24);
}
.navbar-nav {
  gap: 1.5rem;
}
.nav-link.active{
  color: var(--color-highlight);
  font-weight: 900;
}
.nav-link:hover {
  color: var(--color-highlight);
}

.btn-contact {
  width: 8rem;
  height: 3.2rem;
  background-color: var(--color-highlight);
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: var(--ts-24);
  justify-content: center;
  margin-right: 1rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .navbar-nav {
    gap: 1rem;

  }
  .nav-link {
    font-size: var(--ts-20);
    margin-left: 15%;
  }

  .btn-contact {
    border-radius: 1rem;
    margin-left: 10%;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    gap: 1rem;

  }
  .nav-link {
    font-size: var(--ts-20);
  }
}