<div class="linked-project-cards">  
    <div class="card-overlay">
        <div class="title">
            <h1>Projects: </h1>
        </div>

        <div class="projects"> 
            @for (project of projects; track project){ 
                <div class="project-container" (click)="goToProject(project.name, project.id)">
                    <div class="avatar-icon">
                        <img [src]="project.icon? bucket + project.icon : 'favicon.ico'">
                    </div>

                    <h1> {{ project.name }}</h1>
                </div>
            }
        </div>
    </div>
    
    <app-base-card></app-base-card>
</div>