<div class="skills">
    <div class="title-page">
        <div class="border-svg-container ">
            <img src="assets/images/svgs/title-border.svg" alt="">
        </div>

        <h1>Skills</h1>
    </div>

    <div class="character-card">
        <div class="card-overlay">
            <div class="column-1">
                <div class="avatar-container">
                    <picture>
                        <source media="(min-width: 1920px)" srcset="assets/avatar/char-4.png">
                        <source media="(min-width: 1024px)" srcset="assets/avatar/char-3.png">
                        <source media="(min-width: 768px)"  srcset="assets/avatar/char-2.png">
                        <img src="assets/avatar/char-1.png" alt="Avatar responsivo">
                    </picture>
                </div>
            </div>
            <div class="column-2">
                <h1>{{ config?.name }}</h1>
                <h2 class="capitalize">{{ config?.school | titlecase}}</h2>

                <div class="lvl-container">
                    <h3> LVL.{{ config?.sem }} </h3>
                </div>
            </div>

            <div class="useless-container"></div>

            <div class="column-3">
                @if (config.skills.favorite?.[0]) {
                    <div class="role-container" id="role-1">
                        <img [src]="config? bucket + config.skills.favorite[0].icon : 'assets/images/roles/connection-white.png'">
                        <h1>{{ config? config.skills.favorite[0].role : 'Void' }}</h1>
                    </div>
                }
                @if (config.skills.favorite?.[1] ) {
                    <div class="role-container" id="role-2">
                        <img [src]="config? bucket + config.skills.favorite[1].icon : 'assets/images/roles/connection-white.png'">
                        <h1>{{ config? config.skills.favorite[1].role : 'Void' }}</h1>
                    </div>
                }
                @if (config.skills.favorite?.[2]) {
                    <div class="role-container" id="role-3">
                        <img [src]="config? bucket + config.skills.favorite[2].icon : 'assets/images/roles/connection-white.png'">
                        <h1>{{ config? config.skills.favorite[2].role : 'Void' }}</h1>
                    </div>
                }
            </div>
        </div>

        <app-base-card></app-base-card>
    </div>

    @if (technologies$ | async; as tech) {
        <app-skills-card stackName='main' [technologies]="tech | filterByIds:config?.mainStack || []"></app-skills-card>
        <app-skills-card stackName='secondary' [technologies]="tech | filterByIds:config?.secondaryStack || []"></app-skills-card>
        @if (config.mainStack && config.secondaryStack) {
            <app-skills-card stackName='others' [technologies]="tech | excludeByIds:config.mainStack.concat(config.secondaryStack)"></app-skills-card>
        }
    }
</div>