.app-background {
    background-image: var(--bg-short);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto; 
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    width: 95%;
    margin: auto;
}