<div class="home">
    <!-- Char -->
    <div class="character-container">
        <div class="roles-left">
            @if (roles$ | async; as roles){
                <!-- Software Development -->
                @if (roles | findRole:config?.roles?.[0] ?? 0; as progress){
                    <app-role-card 
                    class="item-01" 
                    [imagem]="progress.role.icon.path? bucket + progress.role.icon.path : 'assets/images/roles/data-engineer-white-2.png'" 
                    [name]="progress.role.name || 'role'" 
                    [progress]="progress.progress"
                    >
                        <app-linked-projects-card [projects]="progress.projects"></app-linked-projects-card>
                    </app-role-card>
                }
                
                <!-- Automation -->
                 @if (roles | findRole:config?.roles?.[1] ?? 0; as progress){
                    <app-role-card 
                    class="item-02" 
                    [imagem]="progress.role.icon.path? bucket + progress.role.icon.path : 'assets/images/roles/data-engineer-white-2.png'" 
                    [name]="progress.role.name || 'role'" 
                    [progress]="progress.progress"
                    >
                        <app-linked-projects-card [projects]="progress.projects"></app-linked-projects-card>
                    </app-role-card>
                }

                <!-- Database Management -->
                @if (roles | findRole:config?.roles?.[2] ?? 0; as progress){
                    <app-role-card 
                    class="item-03" 
                    [imagem]="progress.role.icon.path? bucket + progress.role.icon.path : 'assets/images/roles/data-engineer-white-2.png'" 
                    [name]="progress.role.name || 'role'" 
                    [progress]="progress.progress"
                    >
                        <app-linked-projects-card [projects]="progress.projects"></app-linked-projects-card>
                    </app-role-card>
                }
            }
                
        </div>
    
        <div class="character">
            <div class="classType">
                <p class="p1">CLASS</p>
                <P class="p2">{{ config?.school }}</P>
            </div>

            <div class="avatar-container">
                <div class="avatar"></div>

                <div class="lines-container">
                    <img src="/assets/avatar/character-lines.png" class="c-img-fluid" alt="Ícone">
                </div>
            </div>
            
            <div class="name">
                <h1>{{config?.name}}</h1>
            </div>
        </div>
    
        <div class="roles-right">
            @if (roles$ | async; as roles){
                <!-- Project Management -->
                @if (roles | findRole:config?.roles?.[3] ?? 0; as progress){
                    <app-role-card 
                    class="item-04" 
                    [imagem]="progress.role.icon.path? bucket + progress.role.icon.path : 'assets/images/roles/data-engineer-white-2.png'" 
                    [name]="progress.role.name || 'role'" 
                    [progress]="progress.progress"
                    >
                        <app-linked-projects-card [projects]="progress.projects"></app-linked-projects-card>
                    </app-role-card>
                }
                <!-- Cloud Computing -->
                @if (roles | findRole:config?.roles?.[4] ?? 0; as progress){
                    <app-role-card 
                    class="item-05" 
                    [imagem]="progress.role.icon.path? bucket + progress.role.icon.path : 'assets/images/roles/data-engineer-white-2.png'" 
                    [name]="progress.role.name || 'role'" 
                    [progress]="progress.progress"
                    >
                        <app-linked-projects-card [projects]="progress.projects"></app-linked-projects-card>
                    </app-role-card>
                }
                <!-- Cybersecurity -->
                @if (roles | findRole:config?.roles?.[5] ?? 0; as progress){
                    <app-role-card 
                    class="item-06" 
                    [imagem]="progress.role.icon.path? bucket + progress.role.icon.path : 'assets/images/roles/data-engineer-white-2.png'" 
                    [name]="progress.role.name || 'role'" 
                    [progress]="progress.progress"
                    >
                        <app-linked-projects-card [projects]="progress.projects"></app-linked-projects-card>
                    </app-role-card>
                }
                <!-- Software Engineering -->
                @if (roles | findRole:config?.roles?.[6] ?? 0; as progress){
                    <app-role-card 
                    class="item-07" 
                    [imagem]="progress.role.icon.path? bucket + progress.role.icon.path : 'assets/images/roles/data-engineer-white-2.png'" 
                    [name]="progress.role.name || 'role'" 
                    [progress]="progress.progress"
                    >
                        <app-linked-projects-card [projects]="progress.projects"></app-linked-projects-card>
                    </app-role-card>
                }
            }
        </div>

        <div class="role-card-sm-container">
            @if (roles$ | async; as roles){
                <app-role-card-sm 
                [roles]="roles" 
                ></app-role-card-sm>
            }
        </div>
    </div>

    <!-- Roles -->
    <div class="role-card-sm-container-2">
            @if (roles$ | async; as roles){
                <app-role-card-sm 
                [roles]="roles" 
                ></app-role-card-sm>
            }
    </div>

    <!-- Summary -->
    <div class="summary-container">
        <!-- Projects -->
        <div class="summary-card" routerLink="/projects">
            <div class="card-overlay">
                <div class="title">
                    <h1>PROJECTS</h1>
                </div>

                <div class="mid-container">
                    <div class="img-container bg">
                        <img src="assets/person/project.png" alt="Ícone">
                    </div>
                </div>

                <div class="bot-container">
                    <div class="title">
                        <h1>Check out some of the projects I've developed.</h1>
                    </div>

                    <div class="description">
                        <p>They include practical applications using different stacks. The source code is available for review.</p>
                    </div>
                </div>
            </div>
            
            <app-base-card></app-base-card>
        </div>  

        <!-- Skills -->
        <div class="summary-card" routerLink="/skills">
            <div class="card-overlay">
                <div class="title">
                    <h1>SKILLS</h1>
                </div>

                <div class="img-container">
                    <img src="assets/images/svgs/skills.svg" alt="Ícone">
                </div>
            </div>
            
            <app-base-card></app-base-card>
        </div>  
        
        <!-- About -->
        <div class="summary-card" routerLink="/about">
            <div class="card-overlay">
                <div class="title">
                    <h1>ABOUT</h1>
                </div>

                <div class="mid-container bn">
                    <div class="c-container">
                        <img src="assets/person/self.jpg" alt="Ícone">
                    </div>
                </div>

                <div class="bot-container">
                    <div class="description">
                        <p>Learn more about me, including my background, education, work experience, studies, and a bit about my life story and personality.</p>
                    </div>
                </div>
            </div>
            
            <app-base-card></app-base-card>
        </div>  
    </div>
</div>