:host {
    --avatar-width-base: 42rem;
    --avatar-height-base: 42rem;

    --mr-item-01-base: 13.7rem;
    --mr-item-02-base: 20.6rem;
    --mr-item-03-base: 11.8rem;
    --ml-item-04-base: 10.4rem;
    --ml-item-05-base: 18.3rem;
    --ml-item-06-base: 14.2rem;
    --ml-item-07-base: 9.8rem;

    --mt-item-01-base: 1rem;
    --mt-item-02-base: 1.7rem;
    --mt-item-03-base: 2.9rem;
    --mt-item-04-base: 1.1rem;
    --mt-item-05-base: -1rem;
    --mt-item-06-base: 0.1rem;
    --mt-item-07-base: 1.6rem;
}
:host {
    --avatar-width: var(--avatar-width-base);
    --avatar-height: var(--avatar-height-base);

    --mr-item-01: var(--mr-item-01-base);
    --mr-item-02: var(--mr-item-02-base);
    --mr-item-03: var(--mr-item-03-base);
    --ml-item-04: var(--ml-item-04-base);
    --ml-item-05: var(--ml-item-05-base);
    --ml-item-06: var(--ml-item-06-base);
    --ml-item-07: var(--ml-item-07-base);

    --mt-item-01: var(--mt-item-01-base);
    --mt-item-02: var(--mt-item-02-base);
    --mt-item-03: var(--mt-item-03-base);
    --mt-item-04: var(--mt-item-04-base);
    --mt-item-05: var(--mt-item-05-base);
    --mt-item-06: var(--mt-item-06-base);
    --mt-item-07: var(--mt-item-07-base);
}

/* home -> */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    flex-direction: column;

    /* border: 2px solid green; */
}
.character-container {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
/*character*/
.character {
    z-index: 1;
}
/*class type container*/
.classType {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.classType .p1 {
    color: var(--tc-50);
    font-size: var(--ts-20);
    margin: 0.8rem;
}
.classType .p2 {
    color: var(--tc-75);
    font-size: var(--ts-22);
    margin: 0;
    margin-bottom: 2rem;
}
/* avatar container*/
.avatar-container{
    width: var(--avatar-width);
    height: var(--avatar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.avatar {
    background: url('/assets/avatar/char.png');
    width: 30%;
    height: 94%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    margin: auto auto;
    z-index: 2;
}
.lines-container{
    width: 92%;
    height: 82%;
    display: flex;
    position: absolute;
    z-index: 1;
    margin-bottom: 16%;
    margin-right: 6%;
}
.c-img-fluid {
    height: auto;
}
/* name container */
.name{
    display: flex;
    justify-content: center;
}
.name h1 {
    color: var(--tc-75);
    font-size: var(--ts-40);
    margin: 0;
    /* display: none; */
}
/* leftside -> */
.roles-left {
    width:  50%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    /* display: none; */
}
.item-01 {
    margin-right: var(--mr-item-01);
    margin-top: var(--mt-item-01);
}
.item-02 {
    margin-right: var(--mr-item-02);
    margin-top: var(--mt-item-02);
}
.item-03 {
    margin-right: var(--mr-item-03);
    margin-top: var(--mt-item-03);
}
/* rightside -> */
.roles-right {
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 2;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* display: none; */
}
.item-04 {
    margin-left: var(--ml-item-04);
    margin-top:  var(--mt-item-04);
}
.item-05 {
    margin-left: var(--ml-item-05);
    margin-top:  var(--mt-item-05);
}
.item-06 {
    margin-left: var(--ml-item-06);
    margin-top:  var(--mt-item-06);
}
.item-07 {
    margin-left: var(--ml-item-07);
    margin-top: var(--mt-item-07);
}
/* roles-small */
.role-card-sm-container {
    display: none;
    width: 100%;
}
.role-card-sm-container-2 {
    display: none;
    width: 100%;
}
/* summary cards */
.summary-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
:host{
    --summary-card-width-base: 32rem;
    --summary-card-height-base: 36rem;
    --circle-pic-width-base: 15rem;
    --circle-pic-height-base: 15rem;
}
:host{
    --summary-card-width: var(--summary-card-width-base);
    --summary-card-height: var(--summary-card-height-base);
    --circle-pic-width: var(--circle-pic-width-base);
    --circle-pic-height: var(--circle-pic-height-base);
}
.summary-card {
    width: var(--summary-card-width);
    height: var(--summary-card-height);
    position: relative;
    display: flex;
}
app-base-card{
    --card-width: var(--summary-card-width);
    --card-height: var(--summary-card-height);
}
/* summary overlay */
.summary-card .card-overlay{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}
/* summary title */
.card-overlay .title{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-overlay .title h1{
    font-size: var(--ts-22);
    color: var(--tc-75);
}
/* summary image */
.card-overlay .img-container{
    /* width: auto; */
    height: 70%;
    width: 90%;
}
.card-overlay .img-container img{
    width: 100%;
    height: 100%;
}
/* summary mid */
.card-overlay .mid-container{
    width: 90%;
    height: 40%;
    border-top: 1px solid var(--tc-50);
    border-bottom: 1px solid var(--tc-50);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-overlay .bn{
    border-top: none;
    border-bottom: none;
}
.mid-container .img-container{
    width: 100%;
    height:85%;
    border-radius: 1.5rem;
    border: 1px solid var(--tc-50);
    overflow: hidden;
}
.mid-container .img-container img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    transform: scale(1.8);
}
.mid-container .c-container{
    width: var(--circle-pic-width);
    height: var(--circle-pic-height);
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--tc-75);
}
.mid-container .c-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}
/* sumary bottom */
.bot-container {
    margin-top: 5%;
    width: 90%;
    height: 30%;
}
.bot-container .title{
    width: 100%;
    display: flex;
    justify-content: start;
    align-content: center;
}
.bot-container .title h1{
    color: var(--tc-h-75);
    font-size: var(--ts-20);
    margin-left: 0;
}
.bot-container .description{
    width: 100%;
}
.bot-container .description p{
    color: var(--tc-75);
    font-size: var(--ts-20);
    text-align: justify;
}

@media (max-width: 8000px) {
   .summary-container{
        max-width: 1920px;
    }
}
@media (max-width: 1700px){
    :host {
        --avatar-width: calc(var(--avatar-width-base) - 10rem);
        --avatar-height: calc(var(--avatar-height-base) - 10rem);
        --mr-item-01: calc(var(--mr-item-01-base) - 3.3rem);
        --mr-item-02: calc(var(--mr-item-02-base) - 4.9rem);
        --mr-item-03: calc(var(--mr-item-03-base) - 2.8rem);
        --ml-item-04: calc(var(--ml-item-04-base) - 2.5rem);
        --ml-item-05: calc(var(--ml-item-05-base) - 4.4rem);
        --ml-item-06: calc(var(--ml-item-06-base) - 3.4rem);
        --ml-item-07: calc(var(--ml-item-07-base) - 2.4rem);
        --mt-item-01: calc(var(--mt-item-01-base) - 1rem);
        --mt-item-02: calc(var(--mt-item-02-base) - 1.3rem);
        --mt-item-03: calc(var(--mt-item-03-base) - 1.6rem);
        --mt-item-04: calc(var(--mt-item-04-base) - 0.7rem);
        --mt-item-05: calc(var(--mt-item-05-base) - -0.5rem);
        --mt-item-06: calc(var(--mt-item-06-base) - 0.6rem);
        --mt-item-07: calc(var(--mt-item-07-base) - 1.7rem);
    }
    .classType .p1 {
        font-size: var(--ts-17);
    }
    .classType .p2 {
        font-size: var(--ts-20);
        margin-bottom: 1rem;
    }
    :host{
        --summary-card-width: calc(var(--summary-card-width-base) - 6.3rem);
        --summary-card-height: calc(var(--summary-card-height-base) - 6.3rem);
        --circle-pic-width: 15rem;
        --circle-pic-height: 15rem;
    }
    .summary-container{
        max-width: 1366px;
    }
    .bot-container .title h1{
        font-size: var(--ts-17);
    }
    .bot-container .description p{
        font-size: var(--ts-17);
        margin-top: 1rem;
    }
}
@media (max-width: 1300px) {
    .roles-left, .roles-right, .lines-container{
        display: none;
    }
    .character-container {
        justify-content: start;
    }
    .role-card-sm-container {
        display: block;
    }
    /* summary cards */
    :host{
        --summary-card-width: calc(var(--summary-card-width-base) - 12rem);
        --summary-card-height: calc(var(--summary-card-height-base) - 12rem);
        --circle-pic-width: calc(var(--circle-pic-width-base) - 5rem);
        --circle-pic-height: calc(var(--circle-pic-height-base) - 5rem);
    }
    .bot-container .description p{
        font-size: var(--ts-17);
        margin-top: 1rem;
    }
    .bot-container .title h1{
        font-size: var(--ts-17);
        margin-top: 1rem;
    }
}
@media (max-width: 1024px) {
    .summary-container{
       display: none;
    }
    .character-container{
        margin-bottom: 2rem;
    }
}
@media (max-width: 768px) {
    .role-card-sm-container{
        display: none;
    }
    .character-container {
        justify-content: center;
    }
    .role-card-sm-container-2{
        display: block;
        height: calc(var(--avatar-height) + 5rem);
    }
    .avatar-container {
        width: 9.5rem;
        height: 30rem;
    }
    .avatar {
        width: 100%;
        height: 100%;
    }
    .character {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* temp */
.border-c1 {
    border: 2px solid blue;
}
.border-c2 {
    border: 2px solid red;
}
.border-c3 {
    border: 2px solid green;
}
.border-c4 {
    border: 2px solid yellow;
}
.bg {
    background-color: #282c34;
}