/* You can add global styles to this file, and also import other style files */
:root {
    --color-bg: #2E3135;
    --color-highlight: #D99B77;
    --color-footer: #2F3439;
    --color-default: #1B222680;
    
    --bg-short: url('/assets/images/bg-short.png');
    --bg-main: url('/assets/images/bg-main.png');

    --ts-40: 2.5rem;
    --ts-30: 1.8rem;
    --ts-24: 1.5rem;
    --ts-22: 1.3rem;
    --ts-20: 1.2rem;
    --ts-17: 1rem;
    --ts-15: 0.9rem;

    --tc: #ffffff;
    --tc-75: #ffffffbf;
    --tc-50: #ffffff80;
    --tc-h-75: #D99B77bf;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  font-family: 'Inter';
  font-weight: 400;
  color: #ffffff;
}